{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "error",
    "semi": "error",
    "indent": ["error", 4],
    "quotes": ["error", "single"]
  }
}
